/* Loading Button */
.button__text {
    font: bold 18px "Arial";
    color: #ffffff;
    transition: all 0.2s;
  }
  
  .button--loading span {
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
  }
  .button--loading {
    background: #ffffff42 !important;
}
  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #000000;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }
  